body {
    margin: 0;
    background-color: black;
}

:root {
    --cells-container-bg: #000000;
    --cell-border: rgba(187, 159, 159, 0.08);
    --cell-active-bg: #b7baef;
    --i-cell-bg: #00f0f0;
    --j-cell-bg: #0000f0;
    --l-cell-bg: #f0a000;
    --o-cell-bg: #e8e800;
    --s-cell-bg: #00f000;
    --t-cell-bg: #a000f0;
    --z-cell-bg: #f00000;
    --i-cell-settled-bg: rgba(0, 240, 243, 0.8);
    --j-cell-settled-bg: rgba(0, 0, 240, 0.8);
    --l-cell-settled-bg: rgba(240, 160, 0, 0.81);
    --o-cell-settled-bg: rgba(232, 232, 0, 0.78);
    --s-cell-settled-bg: rgba(0, 240, 0, 0.8);
    --t-cell-settled-bg: rgba(160, 0, 240, 0.8);
    --z-cell-settled-bg: rgba(240, 0, 0, 0.77);
    --cells-container-padding: 10px;
    --cells-shadow-active-blur-radius: 6px;
    --cells-shadow1-active-offset: 1px;
    --cells-shadow2-active-offset: -1px;
    --cells-shadow-temp-blur-radius: 3px;
    --cells-shadow1-temp-offset: 1px;
    --cells-shadow2-temp-offset: -1px;
    --cell-rows-container-width: calc(100vh / 2);
    --cell-rows-container-height: calc(100vh - var(--cells-container-padding) * 2);
    --field-width: 10;
    --field-height: 20;
}

cell-rows-container {
    --cell-rows-container-border-color: rgba(255, 255, 255, 0.16);
    border: 1px solid var(--cell-rows-container-border-color);
    box-shadow: inset 2px 2px 7px var(--cell-rows-container-border-color),
    inset -2px -2px 7px var(--cell-rows-container-border-color),
    2px 2px 7px var(--cell-rows-container-border-color),
    -2px -2px 7px var(--cell-rows-container-border-color);
    padding: var(--cells-container-padding);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin: auto;
    /*display: block;*/
    width: calc(var(--cell-rows-container-width) - 2px);
    height: calc(var(--cell-rows-container-height) - 2px);
    background-color: var(--cells-container-bg);
}

cells-row {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

cell {
    --inactive-cell-blur-radius: 20px;
    --inactive-cell-shadow-color: rgba(255, 255, 255, 0.02);
    box-shadow: 2px 2px var(--inactive-cell-blur-radius) var(--inactive-cell-shadow-color),
    -2px -2px var(--inactive-cell-blur-radius) var(--inactive-cell-shadow-color),
    inset 2px 2px var(--inactive-cell-blur-radius) var(--inactive-cell-shadow-color),
    inset -2px -2px var(--inactive-cell-blur-radius) var(--inactive-cell-shadow-color);
    display: block;
    width: calc(var(--cell-rows-container-width) / (1.2 * var(--field-width)));
    height: calc(var(--cell-rows-container-width) / (1.2 * var(--field-width)));
    outline: 1px solid var(--cell-border);
    border-radius: 5px;
}

cell.active {
    background-color: black;
}

cell.active-temp {
    background-color: var(--cell-active-bg);
}


cell.active.i {
    box-shadow: var(--cells-shadow1-active-offset) var(--cells-shadow1-active-offset) var(--cells-shadow-active-blur-radius) var(--i-cell-settled-bg),
    var(--cells-shadow2-active-offset) var(--cells-shadow2-active-offset) var(--cells-shadow-active-blur-radius) var(--i-cell-settled-bg);
    background-color: var(--i-cell-settled-bg);
}

cell.active.j {
    box-shadow: var(--cells-shadow1-active-offset) var(--cells-shadow1-active-offset) var(--cells-shadow-active-blur-radius) var(--j-cell-settled-bg),
    var(--cells-shadow2-active-offset) var(--cells-shadow2-active-offset) var(--cells-shadow-active-blur-radius) var(--j-cell-settled-bg);
    background-color: var(--j-cell-settled-bg);
}

cell.active.l {
    box-shadow: var(--cells-shadow1-active-offset) var(--cells-shadow1-active-offset) var(--cells-shadow-active-blur-radius) var(--o-cell-settled-bg),
    var(--cells-shadow2-active-offset) var(--cells-shadow2-active-offset) var(--cells-shadow-active-blur-radius) var(--l-cell-settled-bg);
    background-color: var(--l-cell-settled-bg);
}

cell.active.o {
    box-shadow: var(--cells-shadow1-active-offset) var(--cells-shadow1-active-offset) var(--cells-shadow-active-blur-radius) var(--o-cell-settled-bg),
    var(--cells-shadow2-active-offset) var(--cells-shadow2-active-offset) var(--cells-shadow-active-blur-radius) var(--o-cell-settled-bg);
    background-color: var(--o-cell-settled-bg);
}

cell.active.s {
    box-shadow: var(--cells-shadow1-active-offset) var(--cells-shadow1-active-offset) var(--cells-shadow-active-blur-radius) var(--s-cell-settled-bg),
    var(--cells-shadow2-active-offset) var(--cells-shadow2-active-offset) var(--cells-shadow-active-blur-radius) var(--s-cell-settled-bg);
    background-color: var(--s-cell-settled-bg);
}

cell.active.t {
    box-shadow: var(--cells-shadow1-active-offset) var(--cells-shadow1-active-offset) var(--cells-shadow-active-blur-radius) var(--t-cell-settled-bg),
    var(--cells-shadow2-active-offset) var(--cells-shadow2-active-offset) var(--cells-shadow-active-blur-radius) var(--t-cell-settled-bg);
    background-color: var(--t-cell-settled-bg);
}

cell.active.z {
    box-shadow: var(--cells-shadow1-active-offset) var(--cells-shadow1-active-offset) var(--cells-shadow-active-blur-radius) var(--z-cell-settled-bg),
    var(--cells-shadow2-active-offset) var(--cells-shadow1-active-offset) var(--cells-shadow-active-blur-radius) var(--z-cell-settled-bg);
    background-color: var(--z-cell-settled-bg);
}


cell.active-temp.i {
    box-shadow: var(--cells-shadow1-temp-offset) var(--cells-shadow1-temp-offset) var(--cells-shadow-temp-blur-radius) var(--i-cell-settled-bg),
    var(--cells-shadow2-temp-offset) var(--cells-shadow2-temp-offset) var(--cells-shadow-temp-blur-radius) var(--i-cell-settled-bg);
    background-color: var(--i-cell-bg);
}

cell.active-temp.j {
    box-shadow: var(--cells-shadow1-temp-offset) var(--cells-shadow1-temp-offset) var(--cells-shadow-temp-blur-radius) var(--j-cell-settled-bg),
    var(--cells-shadow2-temp-offset) var(--cells-shadow2-temp-offset) var(--cells-shadow-temp-blur-radius) var(--j-cell-settled-bg);
    background-color: var(--j-cell-bg);
}

cell.active-temp.l {
    box-shadow: var(--cells-shadow1-temp-offset) var(--cells-shadow1-temp-offset) var(--cells-shadow-temp-blur-radius) var(--l-cell-settled-bg),
    var(--cells-shadow2-temp-offset) var(--cells-shadow2-temp-offset) var(--cells-shadow-temp-blur-radius) var(--l-cell-settled-bg);
    background-color: var(--l-cell-bg);
}

cell.active-temp.o {
    box-shadow: var(--cells-shadow1-temp-offset) var(--cells-shadow1-temp-offset) var(--cells-shadow-temp-blur-radius) var(--o-cell-settled-bg),
    var(--cells-shadow2-temp-offset) var(--cells-shadow2-temp-offset) var(--cells-shadow-temp-blur-radius) var(--o-cell-settled-bg);
    background-color: var(--o-cell-bg);
}

cell.active-temp.s {
    box-shadow: var(--cells-shadow1-temp-offset) var(--cells-shadow1-temp-offset) var(--cells-shadow-temp-blur-radius) var(--s-cell-settled-bg),
    var(--cells-shadow2-temp-offset) var(--cells-shadow2-temp-offset) var(--cells-shadow-temp-blur-radius) var(--s-cell-settled-bg);
    background-color: var(--s-cell-bg);
}

cell.active-temp.t {
    box-shadow: var(--cells-shadow1-temp-offset) var(--cells-shadow1-temp-offset) var(--cells-shadow-temp-blur-radius) var(--t-cell-settled-bg),
    var(--cells-shadow2-temp-offset) var(--cells-shadow2-temp-offset) var(--cells-shadow-temp-blur-radius) var(--t-cell-settled-bg);
    background-color: var(--t-cell-bg);
}

cell.active-temp.z {
    box-shadow: var(--cells-shadow1-temp-offset) var(--cells-shadow1-temp-offset) var(--cells-shadow-temp-blur-radius) var(--z-cell-settled-bg),
    var(--cells-shadow2-temp-offset) var(--cells-shadow2-temp-offset) var(--cells-shadow-temp-blur-radius) var(--z-cell-settled-bg);
    background-color: var(--z-cell-bg);
}

modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

overlay {
    background-color: rgba(0, 0, 0, 0.98);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-content {
    width: 100%;
    height: 100%;
}

#modal-buttons-container {
    display: block;
    margin: auto;
    width: var(--cell-rows-container-width);
}

.modal-button {
    font-size: 20px;
    margin-inline: auto;
    margin-bottom: 50px;
    display: block;
    width: 80%;
    height: 90px;
    border-radius: 30px;
    border: none;
}

.modal-button:first-child {
    margin-top: 20vh;
}

.modal-button#resume-game-button {
    box-shadow: 2px 2px 20px var(--i-cell-bg);
    background-color: var(--i-cell-bg);
}

.modal-button#restart-game-button {
    box-shadow: 2px 2px 20px var(--l-cell-bg);
    background-color: var(--l-cell-bg);
}

.modal-button#main-menu {
    box-shadow: 2px 2px 20px var(--t-cell-bg);
    background-color: var(--t-cell-bg);
}

.modal-button:hover {
}

.modal-button:active {

}

#score {
    text-shadow: 2px 2px 10px white;
    position: absolute;
    font-size: 40px;
    color: white;
    left: 40px;
    top: 40px;
}